<div class="panel-heading">
    <div class="alert alert-info text-center"> <h3>Login App With PHP and Angular JS</h3></div>
</div>
<form>
    <div class="form-group">
        <label>User Name</label>
        <div class="form-group">
            <input type="text" name="" class="form-control" ng-model="username" >
        </div>
        <label>User Password</label>
        <div class="form-group">
            <input type="password" name="" class="form-control" ng-model ="password" >
        </div>
        <button type="submit" ng-click="get_form_data()">Login</button>
    </div>
</form>